

.news{
    background-color: orangered;
    height: 90px;
    border: 2px solid black;
}
  p {
    font-size: 200%;
    animation:
      12s linear 0s infinite alternate rise,
      12s linear 0s infinite alternate bounce;
      color: antiquewhite;
  }
  
  @keyframes bounce {
    from {
      transform: translateX(0vw);
    }
    to {
      transform: translateX(80vw);
    }
  }
  