@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

* {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #8d6fce;
}

.menu_point {
    list-style: none;
}

.button {
    text-decoration: none;
    color: #efeff1;
    border-radius: 15px;
    background-color: #68358a;
    margin: 20px;
    padding: 15px;
    font-size: 24px;
    transition: 0.6s;
    transform: scale(1);
    border-radius: 2px solid #fff;
    display: block;
}

.menu {
    background-color: #68358a;
    border-right: 2px solid #efeff1;
    border-radius: 15px;
    border-left: 2px solid #efeff1;
    border-bottom: 2px solid #efeff1;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px #594486;
}

.button:hover {
    transform: scale(1.1);
    background-color: #8d6fce;
    box-shadow: 0 15px 20px #2c0d36;
}

ul {
    display: flex;
    align-items: center;
}

h1 {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #efeff1;
    font-size: 71px;
    text-align: center;
    transition: 1s;
    text-shadow: 0 5px 10px #2c0d36;
    animation: levitate 3s infinite;
}

@keyframes levitate {
    0% {
        transform: translateY(-8px);
    }

    30% {
        transform: translateY(5px);
    }

    60% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(-8px);
    }
}

h2 {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #c5c5c5;
    font-size: 23px;
    text-align: center;
}

.menu_facts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.li_facts {
    margin: 30px;
    font-size: 24px;
}

.title {
    font-size: 34px;
    text-decoration: underline
}

.facts {
    color: #2c0d36;
}

.bug_examp {
    width: 30%;
    height: 40%;
    border-radius: 15px;
    margin: 30px;
}

.bug {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_p {
    color: #2c0d36;
    font-size: 24px;
    margin: 20px;
}

.bug_examp2 {
    border-radius: 15px;
    border: 2px dashed #594486;
    width: 30%;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 30px;
}

.layer_end {
    display: flex;
    align-items: center;
    justify-content: center;
}

.what {
    font-size: 108px;
    position: relative;
    animation: glitch 3s infinite;
}

@keyframes glitch{
    0%{
        left: 15px;
        bottom: 15px;
        color: red;
    }
    20%{
        left: -15px;
        bottom: -15px;
        color: blue;
    }
    40%{
        right: 15px;
        top: 15px;
        color: black;
    }
    60%{
        right: -15px;
        top: -15px;
        color: blue;
    }
    80%{
        bottom: 15px;
        color: red;
    }
    100%{
        bottom: -15px;
        color: black;
    }

}

